/* 變數 */
:root{
    --mycolor01:#a006cf;
    --mycolor02:#78cf06;
    --mycolor03:#8ed607;
    --mycolor04:#91D4C2;
    --mycolor05:#0b1aee;
    --mycolor06:#45BB89;
    --mycolor07:#3D82AB;
    --mycolor08:#B2D6CA;
    --mycolor09:#FE5858;
    --mycolor10:#024B40;
    --mycolor11:#5D353E;
    --mycolor12:#E5EDF8;
    --mycolor13:#E29E93;
    --mycolor14:#EDBC7A;
    --mycolor15:#0384BD;

}